.backToIcon {
  height: 46px;
  width: 33px;
  position: relative;
  object-fit: cover;
}
.gigglesAi {
  align-self: stretch;
  position: relative;
}
.gigglesAiWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0px 0px;
}
.backToParent {
  width: 226px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.maleUserIcon {
  width: 43px;
  height: 44px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.maleUserWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0px 0px;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-snow-100);
  font-family: var(--font-montserrat);
}
.pixelarticonsarrowUp {
  width: 46.9px;
  position: relative;
  max-height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}
.gotQuestionsLets {
  margin: 0;
}
.gotQuestionsLetsContainer {
  position: relative;
  font-weight: 600;
  flex-shrink: 0;
}
.gotQuestionsLetsTalkWeWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0px 0px;
  box-sizing: border-box;
  min-width: 634px;
  max-width: 100%;
}
.pixelarticonsarrowUpParent {
  width: 1023px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.1px;
  max-width: 100%;
}
.contactInfo {
  position: relative;
  font-weight: 600;
  flex-shrink: 0;
}
.contactInfo9112xxxxxxx0Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.pixelarticonsarrowUpGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid-1);
  max-width: 100%;
}
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.submitARequestGoogleFormWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.pixelarticonsarrowUpContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18.1px;
  max-width: 100%;
  flex-shrink: 0;
}
.frameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl-1);
  max-width: 100%;
}
.centerFrameInner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.centerFrame {
  flex: 1;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  border: 1px solid #ccbfbf;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-51xl) var(--padding-14xl) 89px;
  gap: var(--gap-3xl-1);
  max-width: 100%;
}
.centerFrameWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-13xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.frameGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 47px;
  max-width: 100%;
}
.contactPageInner {
  width: 1246px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 75px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: 30px;
  color: var(--color-white);
  font-family: var(--font-instrument-sans);
}
.contactPage {
  width: 100%;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gray-200);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-16xl) 58px 199px var(--padding-61xl);
  box-sizing: border-box;
  gap: 110px;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1200px) {
  .contactPageInner {
    padding-left: var(--padding-18xl);
    padding-right: var(--padding-18xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .pixelarticonsarrowUpGroup {
    flex-wrap: wrap;
  }

  .pixelarticonsarrowUpContainer {
    flex-wrap: wrap;
  }

  .frameGroup {
    gap: 23px;
  }

  .contactPage {
    gap: 55px;
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .gotQuestionsLetsContainer {
    font-size: var(--font-size-lg);
  }

  .contactInfo {
    font-size: var(--font-size-xl);
  }

  .contactPage {
    gap: 27px;
  }
}
@media screen and (max-width: 450px) {
  .gotQuestionsLetsContainer {
    font-size: var(--font-size-5xl);
  }

  .gotQuestionsLetsTalkWeWrapper {
    min-width: 100%;
  }

  .pixelarticonsarrowUpParent {
    flex-wrap: wrap;
  }
}
