.backToIcon {
  height: 46px;
  width: 33px;
  position: relative;
  object-fit: cover;
}
.gigglesAi1 {
  margin: 0;
  white-space: pre-wrap;
}
.gigglesAi {
  align-self: stretch;
  position: relative;
}
.gigglesAiWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12.3px 0px 0px;
}
.backToParent {
  width: 198px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.profileWithAddon {
  width: 135px;
  height: 104px;
  position: relative;
  display: none;
}
.profilePage {
  width: 100%;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xl) var(--padding-27xl) 251px;
  gap: 223px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-snow-100);
  font-family: var(--font-montserrat);
}

@media screen and (max-width: 750px) {
  .profilePage {
    gap: 111px;
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .gigglesAi {
    font-size: var(--font-size-lgi);
  }

  .profilePage {
    gap: 56px;
  }
}
